<config-file target="AndroidManifest.xml" parent="application">
  <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
  <service android:name="org.apache.cordova.firebase.FirebasePluginMessagingService">
    <intent-filter>
      <action android:name="com.google.firebase.MESSAGING_EVENT"/>
    </intent-filter>
  </service>
  <receiver android:name="org.apache.cordova.firebase.OnNotificationOpenReceiver"/>
  <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/accent" />
  <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
</config-file>
